<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="AlwaysOnTop" value="true" />
		<add key="CalculateMediaPixel" value="true" />
		<add key="RadiusMedia" value="5" /> <!-- pixel area -->
		<add key="RefreshRate" value="8" /> <!-- read color every ? miliseconds -->
	</appSettings>
</configuration>