<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="AlwaysOnTop" value="1" />
		<add key="CalculateMediaPixel" value="1" />
		<add key="RadiusMedia" value="5" />
	</appSettings>
</configuration>